.carousel-wrapper{
    opacity: 0;
    animation: carousel_wrapper 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes carousel_wrapper{
    0%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-10px);
    }
    100% {
        opacity: 100%;
    }
}