.carousel-wrapper{
    opacity: 0;
    animation: carousel_wrapper 1s;
    animation-fill-mode: forwards;
}

.carousel-wrapper:nth-child(2){
    opacity: 0;
    animation-delay: 0.2s;
}
.carousel-wrapper:nth-child(3){
    opacity: 0;
    animation-delay: 0.4s;
}
.carousel-wrapper:nth-child(4){
    opacity: 0;
    animation-delay: 0.6s;
}

@keyframes carousel_wrapper{
    0%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-10px);
    }
    100% {
        opacity: 100%;
    }
}